<footer id="site-footer" class="site-footer" role="contentinfo">
  <div class="entry-container">
      <a href="{{ .Site.BaseURL | relLangURL }}"><img src="https://thedarkula.gitlab.io/code-artistry/img/CodeArtistryLogo.png"></a>
  </div>
	<!--<h1>-->
    <!--{{ with .Site.Title }}-->
    <!--<a href=""> {{ . }} </a>-->
    <!--{{ end }}-->
	<!--</h1>-->

			<!--{{ with .Site.Params.Slogan }}-->
			<!--<p class="site-description">{{ . | default "" | safeHTML }}</p>-->
			<!--{{ end }}-->

		<div id="menu-footer" class="menu-container menu-footer" role="navigation">

		<div class="menu">

      <ul id="menu-footer-items" class="menu-footer-items">
        {{ range $name, $taxonomy := .Site.Params.Navlinks }}
        <li id="menu-item" class="menu-item menu-item-type-post_type menu-item-object-page menu-item"><a href="/{{ $taxonomy.url | urlize }}">{{ $taxonomy.name }}</a></li>
        {{ end }}
</ul>

</div>	</div>

<ul class="social-media-icons">

        {{ with .Site.Params.social.linkedin }}
        <li>
            <a href="{{ . }}" class="linkedin" target="_blank">
                <i class="fa fa-linkedin" title="linkedin"></i>
                <span class="screen-reader-text">linkedin</span>
            </a>
        </li>
        {{end}}

        {{ with .Site.Params.social.gitlab }}
        <a class="gitlab" target="_blank"
           href="{{ . }}">
            <i class="fa fa-gitlab"
               title="gitlab icon"></i>
        </a>
        {{end}}

        {{ with .Site.Params.social.github }}
        <li>
        <a href="{{ . }}"  class="github" target="_blank">
            <i class="fa fa-github" title="github"></i>
            <span class="screen-reader-text">github</span>
        </a>
        </li>
        {{end}}

        {{ with .Site.Params.social.email }}
        <li>
            <a href="mailto:{{ . }}"  class="email">
                <i class="fa fa-envelope" title="email"></i>
                <span class="screen-reader-text">email</span>
            </a>
        </li>
        {{end}}

        {{ if .Site.Params.social.rss }}
        <li>
        <a href="{{ .Site.RSSLink }}" data-animate-hover="pulse" class="rss" target="_blank">
            <i class="fa fa-rss" title="rss"></i>
            <span class="screen-reader-text">rss</span>
        </a>
        </li>
        {{end}}

	</div>
</footer>
