<div class='container'>

  <div id="menu-secondary" class="menu-container menu-secondary" role="navigation">
    <button id="toggle-secondary-navigation" class="toggle-secondary-navigation"><i class="fa fa-plus"></i></button>

    <div class="menu">

      <ul id="menu-secondary-items" class="menu-secondary-items">
        {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
        <li id="menu-item" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item">
          <a href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}">{{ $name }}</a>
        </li>
        {{ end }}

      </ul>

    </div>

  </div>


  <ul class="social-media-icons">

    {{ with .Site.Params.social.linkedin }}
    <li>
      <a href="{{ . }}" data-animate-hover="pulse" class="linkedin" target="_blank">
        <i class="fa fa-linkedin" title="linkedin"></i>
        <span class="screen-reader-text">linkedin</span>
      </a>
    </li>
    {{end}}

    {{ with .Site.Params.social.gitlab }}
    <a class="gitlab" target="_blank"
       href="{{ . }}">
      <i class="fa fa-gitlab"
         title="gitlab icon"></i>
    </a>
    {{end}}

    {{ with .Site.Params.social.github }}
    <li>
      <a href="{{ . }}" data-animate-hover="pulse" class="github" target="_blank">
        <i class="fa fa-github" title="github"></i>
        <span class="screen-reader-text">github</span>
      </a>
    </li>
    {{end}}

    {{ with .Site.Params.social.email }}
    <li>
      <a href="mailto:{{ . }}" data-animate-hover="pulse" class="email">
        <i class="fa fa-envelope" title="email"></i>
        <span class="screen-reader-text">email</span>
      </a>
    </li>
    {{end}}

    {{ if .Site.Params.social.rss }}
    <li>
      <a href="{{ .Site.RSSLink }}" data-animate-hover="pulse" class="rss" target="_blank">
        <i class="fa fa-rss" title="rss"></i>
        <span class="screen-reader-text">rss</span>
      </a>
    </li>
    {{end}}


  </ul></div>
