{{ define "body" }}

<body class="post-template-default single single-post single-format-standard ct-body singular singular-post not-front standard">
  {{ end }}


  {{ define "main" }}
  <div id="loop-container" class="loop-container">
    {{ if and (isset .Params "image") .Params.image }}
    <div class="post type-post status-publish format-standard has-post-thumbnail hentry category-design tag-design tag-standard-2 tag-tagalicious tag-travel entry full-without-featured odd excerpt-1">

      <div class='featured-image lazy lazy-bg-image' data-background="{{ .Params.image | absURL }}">
      </div>
      {{ else }}

      <div class="post type-post status-publish format-standard hentry category-standard category-travel entry full-without-featured odd excerpt-1">

        {{ end }}
        <div class="entry-meta">
          <span class="date">{{ .Date.Format "January 02, 2006" }}</span>

          <!--<span class="author">
            {{ if and (isset .Site.Params "authorlink") .Site.Params.authorLink }}
            <a href="{{ .Site.Params.authorLink | default "" | absURL}}" title="Posts by {{ .Site.Params.author | default "" }}" rel="author">{{ .Site.Params.author | default ""}}</a>
            {{ else }}
            {{ .Site.Params.author | default "" }}
            {{ end }}
          </span>-->

          <!--{{ range $name, $taxonomy := .Site.Taxonomies.categories }}
<span> / </span>
<span class="category">
          <a href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}">{{ $name }}</a>
      </span>
{{ end }}-->

          <!--<div class="entry-categories"></div> <span> // </span>
            {{ range $index, $name := .Params.categories }}
            <a href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}" title="View all posts in {{ $name }}">{{ $name }}</a>
          {{ end }}-->

          <span class="entry-categories"></span>
          {{ range $index, $name := .Params.categories }}
          <a href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}" title="View all posts in {{ $name }}">/ {{ $name }} </a>
          {{ end }}

          <!--{{ range .Params.categories }}
          <span class="category">
            <span> / </span>

            <a href="/categories{{ . | relURL }}">{{ . }}</a>
          </span>
          {{ end }}-->


        </div>
        <div class='entry-header'>
          <h1 class='entry-title'> {{ .Title }}</h1>
        </div>
        <div class="entry-container">
          <div class="entry-content">
            <article>
              {{ .Content }}
            </article>
          </div>
          <!--  <div class="sidebar sidebar-after-post-content" id="sidebar-after-post-content">
          <section id="text-2" class="widget widget_text"><h2 class="widget-title">After Post Content Widget</h2>			<div class="textwidget"><p>This is a widget in the "After Post Content" widget area. It's a great place to include related posts or an email optin form.</p>
        </div>
      </section>	</div>-->
      <div class='entry-meta-bottom'>
        <!--<nav class="further-reading">
        <p class="prev">
        <span>Previous Post</span>
        <a href="https://www.competethemes.com/tracks-live-demo/another-awesome-post/">Another Awesome Post</a>
      </p>
      <p class="next">
      <span>No Newer Posts</span>
      <a href="https://www.competethemes.com/tracks-live-demo">Return to Blog</a>
    </p>
  </nav>-->



  <!--<div class="entry-categories"><p><span>Categories</span>
    {{ range $index, $name := .Params.categories }}
    <a href="{{ "/categories/" | relLangURL }}{{ $name | urlize }}" title="View all posts in {{ $name }}">{{ $name }}</a>{{ end }}
  </p>
</div>-->


<!--<div class="entry-tags"><p><span>Tags</span>
  {{ range $index, $name := .Params.tags }}
  <a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}" title="View all posts tagged {{ $name }}">{{ $name }}</a>
  {{ end }}

</p></div>-->	</div>
{{ if and (isset .Site.Params "author") .Site.Params.author }}
<div class="author-meta">

  <div class="author">
    <img alt='{{ .Site.Params.author | default "" }}' src="https://thedarkula.gitlab.io/code-artistry/img/avatar.jpg" class='' height='72' width='72'>

    <span>
      Written by:<a href="{{ .Site.Params.authorLink | default "" | absURL}}" title="Posts by {{ .Site.Params.author | default "" }}" rel="author">{{ .Site.Params.author | default "" }}</a>        </span>
    </div>
    <div class="bio">
      {{ range .Site.Params.bio }}
      <p>{{ . | default "" | safeHTML }}</p>
      {{ end }}


{{ with .Site.Params.social.linkedin }}
<a class="linkedin" target="_blank"
href="{{ . }}">
<i class="fa fa-linkedin-square"
title="linkedin icon"></i>
</a>
{{end}}


{{ with .Site.Params.social.gitlab }}
<a class="gitlab" target="_blank"
   href="{{ . }}">
  <i class="fa fa-gitlab"
     title="gitlab icon"></i>
</a>
{{end}}

{{ with .Site.Params.social.github }}
<a class="github" target="_blank"
href="{{ . }}">
<i class="fa fa-github"
title="github icon"></i>
</a>
{{end}}

{{ with .Site.Params.social.email }}
<a class="email" target="_blank"
href="mailto:{{ . }}">
<i class="fa fa-envelope"
title="email icon"></i>
</a>
{{end}}

</div>
</div>
{{ end }}
</div>
</div>

<section id="comments" class="comments">
  {{ template "_internal/disqus.html" . }}

  <!--<div class="comments-number">
  <h2>
  4 Comments			</h2>
</div>-->

<!--
<ol class="comment-list">
<li class="comment even thread-even depth-1" id="li-comment-54">
<article id="comment-54" class="comment">
<div class="comment-author">
<img alt='' src='https://secure.gravatar.com/avatar/39f7e57ccd31847dc1a4bfb2ee1cd596?s=72&#038;d=mm&#038;r=g' srcset='https://secure.gravatar.com/avatar/39f7e57ccd31847dc1a4bfb2ee1cd596?s=144&#038;d=mm&#038;r=g 2x' class='avatar avatar-72 photo' height='72' width='72' />				<div>
<div class="author-name"><a href='http://commenter.url' rel='external nofollow' class='url'>Commenter 2799</a></div>
<div class="comment-date">April 18</div>
<a rel='nofollow' class='comment-reply-link' href='https://www.competethemes.com/tracks-live-demo/this-is-a-standard-post/?replytocom=54#respond' onclick='return addComment.moveForm( "comment-54", "54", "respond", "1969" )' aria-label='Reply to Commenter 2799'>Reply</a>									</div>
</div>
<div class="comment-content">
<p>sque lacus. Etiam consectetur rutrum justo.</p>
<p>Duis facilisis. Aliquam sagittis. Proin consectetur egestas metus. Curabitur pellentesque posuere arcu. Integer lorem nulla, congue a, rhoncus nec, vestibulum a, ante. Mauris lobortis iaculis erat. Maecenas faucibus tincidunt dui. Cras accumsan vestibulum ligula. Morbi dapibus, lorem nec euismod pharetra, augue risus congue augue, molestie eleifend lacus magna nec magna. Mo</p>
</div>
</article>
</li>

</ol>-->


</section>
</div>

<!--</div>--> <!-- .main -->


{{ end }}
